/* ------------------
UNIVERSAL STYLE
-------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    line-height: 1.3;
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    color: aliceblue;
}

h2 {
    font-size: 1.5rem;
}

.link {
    color: rgb(4, 33, 142);
}




/* --------------
NAVIGATION STYLE
---------------*/

nav {
    background-color: rgb(12, 114, 193);
    padding: 10px 10%;
}



nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center space-between;
}

nav ul li:nth-child(2) {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

nav ul li:nth-child(3) {
    text-align: right;
}

nav ul li a {
    color: aliceblue;
}



/* --------------
HEADER STYLE
---------------*/

header {
    background: linear-gradient(rgba(2, 70, 172, 0.412), rgba(0, 0, 0, 0.723)), url(../asset/bg-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* width: 100vw; */
    height: 90vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 10%;
}

header section {
    padding-top: 40px;
}

header section p {
    color: aliceblue;
    font-size: 1.2rem;
}

header ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 2px;
    align-items: end;
    padding-bottom: 20px;
}

header ul li a {
    padding: 10px 0;
    background: aliceblue;
    border-radius: 40px;
    color: black;
}




/* --------------
HEADER STYLE
---------------*/

.about-us {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 10%;
    margin: 50px 0;
}

.about-us section {
    display: grid;
    grid-template-rows: 1fr;
}

.about-us section li {
    align-self: flex-end;

}

.about-us section p:first-child {
    margin-bottom: 20px;
}

/* 
Images
*/

.images {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 17px;
}

.images img {
    width: 32vw;
    height: 30vh;
}




/* --------------
DISCOVER STYLE
---------------*/

.discover .dis-xpo {
    display: grid;
    padding: 0 10%;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 30px;

}

.dis-details, .apart {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.dis-details {
    justify-content: space-between;
    gap: 20px;
    padding: 0 10%;
}

.dis-details img, .apart aside {
    width: 20vw;
    height: 20vw;
}

.apart aside {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-between;
    background-color: thistle;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px 20px 20px 50px;
}

.apart aside section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: end;
}




/* --------------
SERVICE STYLE
---------------*/

.service {
    margin-top: 60px;
    background-color: rgb(3, 64, 122);
    padding: 5% 10%;
    color: aliceblue;
}

.service section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

.serviceInfo, .condition {
    margin-bottom: 30px;
}

.serviceInfo p {
    justify-items: end;
}

.condition img {
    width: 15vw;
    height: 150px;
}

section.condition {
    grid-template-columns: 5fr 1fr;
    column-gap: 20px;
}




/* --------------
FOOTER STYLE
---------------*/

footer {
    background-color: black;
    padding: 30px;
    color: aliceblue;
    text-align: center;
}